*.VC.db
*.opendb
*csproj.user
*vcxproj.user
.vs/
bin/
obj/
packages/
tests/ConsoleApplication2015/CMakeLists.txt
tests/ConsoleApplication2015/ipch/
tests/ConsoleApplication2015/main/CMakeLists.txt
tests/ConsoleApplication2015/main/x64/
tests/ConsoleApplication2015/shared_lib/CMakeLists.txt
tests/ConsoleApplication2015/shared_lib/x64/
tests/ConsoleApplication2015/static_lib/CMakeLists.txt
tests/ConsoleApplication2015/static_lib/x64/
tests/ConsoleApplication2015/x64/
VSslnToCMakePlugin/LICENSE.txt
