*.VC.db
*.aps
*.ipch
*.opendb
*csproj.user
*vcxproj.user
.vs/
VSslnToCMakePlugin/LICENSE.txt
bin/
obj/
packages/
tests/*/*/CMakeLists.txt
tests/*/CMakeLists.txt
tests/ConsoleApplication2015/CMakeLists.txt
tests/ConsoleApplication2015/ipch/
tests/ConsoleApplication2015/main/CMakeLists.txt
tests/ConsoleApplication2015/main/x64/
tests/ConsoleApplication2015/shared_lib/CMakeLists.txt
tests/ConsoleApplication2015/shared_lib/x64/
tests/ConsoleApplication2015/static_lib/CMakeLists.txt
tests/ConsoleApplication2015/static_lib/x64/
tests/ConsoleApplication2015/x64/
tests/DifferentConfigurations/main/x64/
tests/DifferentConfigurations/static_lib/x64/
tests/DifferentConfigurations/x64/
tests/MFCApplication1/MFCApplication1/x64/
tests/MFCApplication1/x64/
